/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.*
Homestead.yaml
Homestead.json
.phpunit.result.cache

# Ignorer tous les .sqlite partout...
*.sqlite
# ...mais garder le dossier database/ et CE fichier précis :
!database/
!database/database.sqlite
